@using Microsoft.Extensions.Localization
@using UniversityActivities.Web.Resources
@inject IStringLocalizer<SharedResource> L
<!DOCTYPE html>
<html lang="ar" dir="rtl">
<head>
    <meta charset="utf-8" />

 
    <title>@ViewData["Title"] - @L["Navbar.Platform"]</title>

    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.4.1/css/responsive.dataTables.min.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/2.4.1/css/buttons.dataTables.min.css" />
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>

    <!-- Flatpickr CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/themes/dark.css">

    <!-- Custom -->
    <link href="~/css/output.css" rel="stylesheet" />
</head>
<body class="bg-light">

    <!-- Navbar -->
    <partial name="_Navbar" />

    @* SideBar Overlay (for mobile) *@
    <div id="sidebar-overlay" class="fixed inset-0 z-40 hidden bg-black bg-opacity-50 transition-opacity duration-300"></div>

    @* SideBar *@
    <partial name="_Sidebar" />
  
    <div class="flex min-h-screen">
        <div class="flex flex-1 flex-col">
            <main id="main-content" class="mt-20 flex-1 py-6">
                @RenderBody()
            </main>

            <p style="color:red">
                @System.Globalization.CultureInfo.CurrentUICulture.Name
            </p>
        </div>
        <!-- Footer -->
        <partial name="_Footer" />
    </div>

   

    
    <script src="~/js/main.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.4.1/js/dataTables.responsive.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.4.1/js/dataTables.buttons.min.js"></script>
    <!-- Flatpickr JS -->
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script src="https://cdn.jsdelivr.net/npm/flatpickr/dist/l10n/ar.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
